<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationId</key>
	<string>nxZOr56yX2PzSLhgWUtpSx54WrtK1MYHqju94YUA</string>
	<key>APIKey</key>
	<string>I1ZzQVAmCaFCLPLnqEnDBmN38dX9Hb2IDLwMyPJ4</string>
</dict>
</plist>
