### Objective-C ###
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
artifacts
.idea/.name
.idea/encodings.xml
.idea/modules.xml
.idea/rmailmobile-ios.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
.idea/runConfigurations/GCov_controller.xml
.idea/runConfigurations/GCov_logic.xml
.idea/runConfigurations/Mail.xml
.idea/runConfigurations/MailAssembliesTests.xml
.idea/runConfigurations/MailDoubles.xml
.idea/runConfigurations/MailLogicTests.xml
.idea/runConfigurations/MailPresentationTests.xml
.idea/runConfigurations/MailRendererSnapshotTests.xml
.idea/scopes/scope_settings.xml
.idea/RamblerMail_iOS.iml
.idea/misc.xml
.idea/RamblerConferencesGitHub.iml
.idea/runConfigurations/Conferences.xml
