<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<array>
		<dict>
			<key>title</key>
			<string>Пешком</string>
			<key>description</key>
			<string>Метро Тульская – первый вагон из центра. Идите в сторону Третьего Транспортного Кольца («Ереван - плаза» останется позади справа), далее пройдите под эстакадой, следуйте прямо до трамвайных путей. Перейдите их и направляйтесь под железнодорожный мост. Дальше держитесь трамвайных путей до главного входа на Даниловскую мануфактуру.

Пройдите мимо шлагбаума и далее через небольшой сквер по диагонали направо. Обойдите корпус Кнопа справа (мимо «Лавки братьев Караваевых») и идите вдоль корпусов, пока не увидите цветной стеклянный переход с надписью «Ряды Солдатенкова».Спуститесь по лестнице и пройдите прямо до пятого подъезда, он будет справа.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>На трамвае</string>
			<key>description</key>
			<string>Метро Тульская – последний вагон из центра. Выйдите из метро и поверните налево, идите до пересечения Большого Староданиловского и Холодильного переулков до трамвайной остановки. Садитесь на любой трамвай до остановки «Новоданиловский проезд, Академия водного транспорта». Трамвай остановится напротив главного входа на Даниловскую мануфактуру.

Пройдите мимо шлагбаума и далее через небольшой сквер по диагонали направо. Обойдите корпус Кнопа справа (мимо «Лавки братьев Караваевых») и идите вдоль корпусов, пока не увидите цветной стеклянный переход с надписью «Ряды Солдатенкова».Спуститесь по лестнице и пройдите прямо до пятого подъезда, он будет справа.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>На автомобиле из центра</string>
			<key>description</key>
			<string>По Варшавскому шоссе.
Следуйте по Варшавскому шоссе в сторону области до Нагорного проезда, поверните направо на Нагорный проезд, развернитесь и возвращайтесь обратно на Варшавское шоссе, поверните налево и двигайтесь прямо до поворота на Новоданиловской проезд. Поверните направо и двигайтесь к набережной, дальше поверните направо и продолжайте ехать по Новоданиловской набережной до ворот. Вам нужен второй по счету поворот, вы узнаете его по двум шлагбаумам. Пройдите мимо шлагбаума и далее через небольшой сквер по диагонали направо. Обойдите корпус Кнопа справа (мимо «Лавки братьев Караваевых») и идите вдоль корпусов, пока не увидите цветной стеклянный переход с надписью «Ряды Солдатенкова».Спуститесь по лестнице и пройдите прямо до пятого подъезда, он будет справа.

По набережным.
Двигайтесь по Дербеневской, Павелецкой, Даниловской набережным до Новоданиловской. На пересечении набережной с Новоданиловским проездом поверните во второй по счету поворот, вы узнаете его по двум шлагбаумам. После шлагбаумов вы увидите торец здания, обойдите его с правой стороны и идите прямо до пятого подъезда. Он будет слева от вас.</string>
		</dict>
		<dict>
			<key>title</key>
			<string>На автомобиле из области</string>
			<key>description</key>
			<string>По Варшавскому шоссе.
Следуйте по Варшавскому шоссе в сторону центра до поворота на Новоданиловский проезд, поверните направо на Новоданиловский проезд, двигайтесь до Новоданиловской набережной, далее поверните направо и проезжайте до ворот. Вам нужен второй по счету поворот, вы узнаете его по двум шлагбаумам. Пройдите мимо шлагбаума и далее через небольшой сквер по диагонали направо. Обойдите корпус Кнопа справа (мимо «Лавки братьев Караваевых») и идите вдоль корпусов, пока не увидите цветной стеклянный переход с надписью «Ряды Солдатенкова».Спуститесь по лестнице и пройдите прямо до пятого подъезда, он будет справа.

По набережным.
Двигайтесь по Нагатинской набережной до Новоданиловской. После бизнес-центра &quot;Пальмира&quot; сверните налево, там вы увидите въезд с двумя шлагбаумами, вам туда. После шлагбаумов вы увидите торец здания, обойдите его с правой стороны и идите прямо до пятого подъезда. Он будет слева от вас.</string>
		</dict>
	</array>
</dict>
</plist>
