<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rambler&amp;IT</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ramblerconferences</string>
				<string>ubercallback</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>51</string>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>27234a8fb339211b7081a28ef1f90c7159278f54</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>uber</string>
		<string>uberauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Приложению требуется доступ к календарю</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Поделитесь своей геопозицией, чтобы мы могли рассчитать примерную стоимость такси до места мероприятия.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ru.ramblerco.rambler.it.useractivity.event</string>
		<string>ru.ramblerco.rambler.it.useractivity.location</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>search-tabbar-icon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Поиск</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Search</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>location-tabbar-icon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Как добраться</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Directions</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array/>
	<key>UberCallbackURIs</key>
	<array>
		<dict>
			<key>URIString</key>
			<string>ubercallback://rambler_it</string>
			<key>UberCallbackURIType</key>
			<string>General</string>
		</dict>
	</array>
	<key>UberClientID</key>
	<string>YBgclOF9aHmVfBWhjWxSWUOG6Iddxlqi</string>
	<key>UberDisplayName</key>
	<string>Rambler&amp;IT</string>
	<key>UberServerToken</key>
	<string>-sQjzaMsKu1TU7PFa3B5LaQoRHNWW0GrzkPJJgp6</string>
</dict>
</plist>
